.clearfix:after{
  content: ' ';
  display: table;
  clear: both;
}

.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item-img {
  height: 180px;
}


.restaurant-item img {
  max-height: 180px;

}

.restaurant-item .caption {
  padding: 10px;
}

.nav-pills-center {
  text-align: center;
}

.nav-pills-center > li {
  float: none;
  display: inline-block;
}

.my-restaurant {
  float: left;
  padding-right: 20px;
  padding-bottom: 10px;
}

.my-restaurant-img {
  height: 60px;
}

.my-restaurant img {
  height: 100%;

}

.ranking-item{
  margin-bottom: 15px;
}

